body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}
html,body {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}
input{
  border:1px solid #b0b0b0;
  padding:3px 5px 4px;
  color: black;
  width:190px;
  border-radius: 1vh;
}
address,caption,cite,code,dfn,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}

div{
  padding: 0;
  margin: 0;
  
}
/* sidebar */
#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
  display: none;
}
#sidebar.active .sidebar-header h3 {
  display: none;
}
#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right:  0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
  padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
 translateX(50%) works with right: 50% 
 to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}
@media (max-width: 768px) {
  /* 80px and its content aligned to centre. Pushing it off the screen with the
     negative left margin
  */
  #sidebar.active {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      margin-left: -80px !important;
  }


  /* Reappearing the sidebar on toggle button click */
  #sidebar {
      margin-left: 0; 
  }


  /* Toggling the sidebar header content, 
     hide the big heading [h3] and showing the small heading [strong] and vice versa
  */
  #sidebar .sidebar-header strong {
      display: none;
  }
  #sidebar.active .sidebar-header h3 {
      display: none;
  }
  #sidebar.active .sidebar-header strong {
      display: block;
  }

  /* Downsize the navigation links font size */
  #sidebar.active ul li a {
      padding: 20px 10px;
      font-size: 0.85em;
  }

  #sidebar.active ul li a i {
      margin-right:  0;
      display: block;
      font-size: 1.8em;
      margin-bottom: 5px;
  }

  /* Adjust the dropdown links padding*/
  #sidebar.active ul ul a {
      padding: 10px !important;
  }

  /* Changing the arrow position to bottom center position, 
    translateX(50%) works with right: 50% 
    to accurately  center the arrow */
  .dropdown-toggle::after {
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
  }
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}

.navbar-nav {
  margin-right: 10vh;
}

#userNav{
  height: 8vh;
}
#transNav{
  height: 20vh;
  box-shadow: 5px 5px 3px grey;
}



.trans{
  font-size: 3vh;
  margin-top: 3vh;
}

#walletSidebar{
  border: solid;
  border-color: red;
  height: 30vh !important;

}

/* .panel{
  height: 30vh !important;
} */

#walletMain{
  border: solid;
  border-color: blue;
  height: 60vh !important;
}
#qrcode{
  margin-left: 12vh;
}

a{
  color: black;
}

.panel-body{
  margin-top: 8vh;
  height: 11vh;
  text-align: center;
  
}
 .btn-group{
  
    display: flex;
}
.btn{
  flex:1;
} 

.btn-default{
  padding-left: 1.8vh;
  padding-right: 1.8vh;
}

.col-3{
  margin-right: 2vh;
}
#walletAddr{
  text-align:center;
  font-size: 2.5vh;

}
.content{
	text-align: center;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* loading Page */
