Flask_Cors==3.0.7
pysha3==1.0.2
ecdsa==0.13
Flask==1.0.2
Flask_RESTful==0.3.7
Flask_SocketIO==3.3.1
qrcode==6.1
requests==2.21.0
tasho==0.0.3
tinydb==3.13.0
Flask_Bootstrap==3.3.7.1
sha3==0.2.1
socketIO_client==0.7.2
