Werkzeug==0.15.4
Flask_SocketIO==3.3.1
tinydb==3.13.0
Flask_Cors==3.0.7
pycoin==0.80
requests==2.22.0
unqlite==0.7.1
Flask==1.0.2
tasho==0.0.3
ecdsa==0.13.2
flask_bootstrap==3.3.7.1
qrcode==6.1
sha3==0.2.1
socketIO_client==0.7.2
