<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
   crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='../static/css/style.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <title>Login</title>
  <script src="./static/js/jquery-3.3.1.min.js"></script>
  <script src="{{url_for('static', filename = '../static/js/notify.min.js')}}"></script>
  <script src="{{url_for('static', filename = '../static/js/jquerysession.js')}}"></script>
  
</head>
<div id="loadingPage">

  </div>
<body>

  <div class="wrapper fadeInDown" id="content">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
      </div>

      <!-- Login Form -->
      <form class="pt-4" method="POST" id="loginUser">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
        <input type="password" id="password" class="fadeIn third mt-2" name="password" placeholder="Password">
        <button type="button" id='btnLogin' onclick="loaderPage()"> <i class="fas fa-sign-in-alt"></i>Log In</button>
      </form>

      <!-- Remind Password -->
      <div id="formFooter" class=" col-12 btn-group">
        <button type="button" class="bg-success" id="btnReg" data-toggle="modal" data-target="#register"><i class="fa fa-pen-alt"></i>
          Register</button>
        <button type="button" class="bg-warning" id="btnForgotPass" data-toggle="modal" data-target="#forgotPass"><i class="fas fa-redo"></i> Forgot Password?</button>
        <a class="underlineHover" href="#"></a>
      </div>
      <!-- Button trigger modal -->
      <!-- Modal -->

    </div>
  </div>
  <div class="modal fade" id="register">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="fadeIn First">Sign Up</h3>
          
          <span class="" data-toggle="modal" data-dismiss="modal">&times;</span>
        </div>
        <div class="modal-body">
          <div class="ml-4">
            <div class="">
              <form method="POST" id='registrationform'>
                <div class="pb-3">
                  <input type="text" id="fullUsername" class="fadeIn first register" name="fullUsername" placeholder="Full Name">
                  <input type="text" id="coopName" class="fadeIn second register" name="coopName" placeholder="Cooperative Name">
                </div>
                <div class="pb-3">
                  <input type="text" id="user" class="fadeIn third register user" name="user" placeholder="Username">
                  <input type="password" id="pass" class="fadeIn fourth register user" name="pass" placeholder="Password">
                  <input type="password" id="rpass" class="fadeIn fifth register user" name="rpass" placeholder="Repeat Password">
                  <input
                    type="button"
                    class="fadeIn seventh col-3"
                    id="btnSubmit"
                    value="Submit"
                  >
                </div>
              </form>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Forgot Password -->
  <div class="modal fade" id="forgotPass">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="fadeIn First">Forgot Password</h3>

          <span class="" data-toggle="modal" data-dismiss="modal">&times;</span>
          
        </div>
        <div class="modal-body">
          <div class="ml-4">
              <form method="POST" id='forgotPassword'>
                <div class="pb-3">
                  <input type="text" id="fuser" class="" name="fuser" placeholder="Username">
                </div>
                  <div class="pb-3">
                  <input type="password" id="fpass" class="" name="fpass" placeholder="New Password">
                  <input type="password" id="frpass" class="" name="frpass" placeholder="Repeat Password">
                  <input type="button" class=" col-3" id="btnForgotSubmit" value="Submit">
                </div>
              </form>

      
          </div>
        </div>
      </div>
    </div>

  </div>



</body>

<script>

  $(document).ready(function($) {

    $('#btnSubmit').on('click', function(event) {
      $.post('/register', $('#registrationform').serialize(), function(data) {
        if (data == 'Success'){
          $("#registration").notify("Sign-up Successfully",'success',{position:'right-middle'});
          window.location = 'http://127.0.0.1:5000'; 
        }
        else if(data == 'Failed'){
          $("#registration").notify("Sign-Up Failed",{position:'right-middle'});
        }   
     
      });
    });

 



    $('#btnLogin').on('click',function(event){
      var username = document.getElementById('login').value;
      $.session.set('data',username);
 
      $.post('/login', $('#loginUser').serialize(), function(data){        
      
      if (data != 'Failed again'){
        $("#loginUser").notify("Login Successfully",'success',{position:'right-middle'});
        
        window.location = 'http://127.0.0.1:5000/wallet'; 
      }
      else{
        $("#loginUser").notify("username or password is incorrect",{position:'right-middle'});
      }
      });
    });


    $('#btnForgotSubmit').on('click',function(event){

      $.post('/changePass', $('#forgotPassword').serialize(), function(data){
        if (data == 'Success'){
          $("#forgotPassword").notify("Change Password Successfully",'success',{position:'right-middle'});
          
        }
        else if(data == 'Failed'){
          $("#forgotPassword").notify("Password is incorrect",{position:'right-middle'});
          
        }

      });
    });

  });
</script>

</html>