<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href= "{{url_for('static', filename='../static/css/style_wallet.css')}}" >

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{{url_for('static', filename = '../static/js/notify.min.js')}}"></script>
<script src="{{url_for('static', filename = '../static/js/jquerysession.js')}}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success" id="userNav">
  <a class="navbar-brand" href="#">Agrichain</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar"><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBar">
      <ul class="navbar-nav ml-auto">
          <!-- Drop-Down -->
         <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle navbarDrop" id="navbarAccount" data-toggle="dropdown">Account <span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu" id="dropmenu" aria-labelledby="navbarDrop">
            <a href="#" class="dropdown-item">My Info</a>
            <a href="#" class="dropdown-item">Addresses</a>
            <a href="#" class="dropdown-item">Setting</a>
          </div>
        </li>
      </ul>
    </div> 
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-faded" id="transNav">

    <div class="collapse navbar-collapse" id="navBar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item mx-4 trans"><a href="#" class="nav-link"> <i> <img src="../static/pics/wallet.png" alt=""> </i> <br> My Wallet</a></li>
        <li class="nav-item mx-4 trans"><a href="#" id="cashIn" class="nav-link "> <i> <img src="../static/pics/cashIn.png" alt=""> </i> <br>  Cash In</a></li>
        <li class="nav-item mx-4 trans"><a href="#" class="nav-link "> <i> <img src="../static/pics/cashOut.png" alt=""> </i> <br>  Cash Out</a></li>
        <li class="nav-item mx-4 trans"><a href="#" class="nav-link"> <i> <img src="../static/pics/invest.png" alt=""> </i> <br> &nbsp; Invest</a></li>
        <li class="nav-item mx-4 trans"><a href="#" class="nav-link "> <i> <img src="../static/pics/bill.png" alt=""> </i> <br> Pay Bills</a></li>
        <li class="nav-item dropdown mx-4 trans">
        <a href="#" class="nav-link dropdown-toggle navbarDrop" id="navbarLoan" data-toggle="dropdown"> <i> <img src="../static/pics/loan.png" alt=""> </i> <br> &nbsp; Loan <span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" id="dropmenu" aria-labelledby="navbarDrop">
          <a href="#" class="dropdown-item">Agricultural</a>
          <a href="#" class="dropdown-item">Emergency</a>
          <a href="#" class="dropdown-item">Personal</a>
        </div>
        </li>
      </ul>
    </div> 
  </nav>
<!-- Page Content -->
<div class="container mt-4" id='sampleMainContainer'>
  <div id="myWallet" class="row justify-content-center">
    <div  id="walletSidebar" class="col-2 mr-3 border">
        <div class="panel panel-default">
          <div class="panel-heading row border" id="balanceHeader">
              <span><b class="justify-content-start ml-2">Agricoin </b></span>
              <span class="nav-item justify-content-end" id="qrcode"><a class="justify-content-end nav-link" data-toggle="modal" data-target="#walletAddress"><i class="fa fa-qrcode" ></i></a></span> 
          </div>
          <div class="panel-body">
            <span id="amount"></span>
              <h3>AGC</h3>
          </div>
          <div class="panel-footer row border btn-group-lg justify-content-center" id="balanceHeader">
              <button class="btn-default" id="send" data-toggle="modal" data-target="#sendTransaction"> <i class="fa fa-paper-plane-o"></i> Send</button>
              <button class="btn-default"> <i class="fa fa-download"></i>  Request</button>
          </div>
        </div>
    </div>
    <!-- Transaction -->
    <div class="col-6 border" id="walletMain">
      <div class="container">
        <div class="panel panel-default">
              <nav class="navbar navbar-expand-lg  nav-pills navbar-light bg-faded">
                  <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link " href="#">Transaction History</a></li>
                    <li class="nav-item"><a class="nav-link " href="#">Request History</a></li>
                  </ul>
                </nav>
        </div>
      </div>

    <!-- Cash In  -->
   




      
    </div>
  </div>
      <div class="container" id="divCashin" style="display: none;">
          <div class="panel panel-default">
              <nav class="navbar navbar-expand-lg  nav-pills navbar-light bg-faded">
                  <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link " href="#">Cooperative Branch</a></li>
                    <li class="nav-item"><a class="nav-link " href="#">Amount</a></li>
                    <li class="nav-item"><a class="nav-link " href="#">Payment</a></li>
                  </ul>
                </nav>

        </div>
      </div>
</div>
  <!-- Send Transaction -->
  <div class="modal fade" id="sendTransaction">
      <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="fadeIn First">Send Agricoin</h3>
            
            <span class="" data-toggle="modal" data-dismiss="modal">&times;</span>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row mt-2">
                  <div class="mr-1">
                    <input type="text" class="p-2" value="AGC" readonly>
                  </div>
                  <div class="">
                    <input type="number" class="p-2">
                  </div>
              </div>
              <div>
                <div class="mt-4">
                <h4 class="mb-2">To</h4>
                <div class="content">
                  <input type="text"  id="recWalletAddr" class="col-12 input-lg p-2" placeholder="Recipient Wallet Address">
                </div>
                </div>
                <div class="mt-3 content">
                  <textarea name="message" id="message" cols="47" rows="5" class="" placeholder="Message to the Recipient"></textarea>
                </div>
                <div class="content mt-3"> 
                  <button  type="button" name="btnSend" class="btn btn-lg btn-primary px-3" class="">Send</button>
   
                </div>
              </div>

            </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Wallet Address -->
      <div class="modal fade" id="walletAddress">
          <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="fadeIn First"> My Wallet Address</h3>
                
                <span class="" data-toggle="modal" data-dismiss="modal">&times;</span>
              </div>
              <div class="modal-body">
                <div class="container justify-content-center">
                
                    <div class="input-group" id="walletAddrGroup">
                      <input type="text"id="walletAddr" readonly class="col-11 p-2">
                      <div class="input-group-append">
                        <button class="" id="copyWalletAddr" data-clipboard-target="#walletAddr"><i class="fa fa-clone"></i></button>
                      </div>                      
                   </div>  
                </div>
                </div>

              </div>
            </div>
          </div>


</body>
<script> 
  $(document).ready(function($){

    $('#send').on('click', () => {
      $("#sampleMainContainer").load('/sample')
    })

      $(".dropdown").hover(            
          function() {
              $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideDown("slow");
              $(this).toggleClass('open');        
          },
          function() {
              $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideUp("slow");
              $(this).toggleClass('open');       
          }
      );


        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
        
        $(function(){
          var user = $.session.get('data');
          document.getElementById('navbarAccount').text = user;

        });

        $(function(){
          new Clipboard('#copyWalletAddr');
          
          });

        $('#copyWalletAddr').on('click', function(){
          $('#walletAddr').notify('Copied','success',{position:'bottom-center'});
        });  

        $('#qrcode').on('click', function(){

          $.get('/generateWallet', function(data){
           document.getElementById('walletAddr').value = data;
          });
        })
         
        $('#cashIn').on('click', function(){

          $('#myWallet').hide();
          $('#divCashin').show();
       
        })
      
    
  });
  </script>
</html>